.mainsigncont {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #111;
  color: #fff;
}

.signcontainer {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  box-sizing: border-box;
}

.signcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #555;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  color: black;
}

input:focus {
  border-color: #3498db;
}

.signbutton {
  width: 80%;
  background-color: blueviolet;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signbutton:hover {
  background-color: rgb(118, 42, 189);
}
